body {
  background-color:rgb(112, 179, 255)
}

img {
  width: 100px;
  cursor: pointer;
  display: inline;
}

@font-face {
  font-family:'Bebas Neue';
  src: url(./assets/fuentes/bebasneue.ttf);
  font-style: normal;
  font-weight: normal;
}

#titulo {
  font-size: 80px;
  color: white; 
  font-family: Bebas Neue;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

@font-face {
  font-family:'Coolvetica';
  src: url(./assets/fuentes/coolvetica.otf);
  font-style: normal;
  font-weight: normal;
}

#quieresjugar {
  font-size: 20px;
  font-family: Coolvetica;
  
}

#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#juego {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#imagen-container {
  height: 20px; 
}

#imagen {
  width: auto;
  height: 100%;
  object-fit: contain;
}

#opcion {
  font-size: 30px;
  color: white; 
  font-family: Coolvetica;
}


#normativa {
  text-align: center;
  background-color:white;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
}

#imagenes {
  display: flex;
  flex-direction: row
}